.gradle
sandbox/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.DS_Store
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/libs/sandbox.jar
sandbox/build/scripts/sandbox
sandbox/build/scripts/sandbox.bat
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/tmp/jar/MANIFEST.MF
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstProgram.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Point.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Rectangle.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Square.class
sandbox/build/classes/java/test/ru/stqa/pft/sandbox/PointTests.class
sandbox/build/classes/java/test/ru/stqa/pft/sandbox/SquareTests.class
sandbox/build/reports/tests/test/classes/ru.stqa.pft.sandbox.PointTests.html
sandbox/build/reports/tests/test/css/base-style.css
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/index.html
sandbox/build/reports/tests/test/js/report.js
sandbox/build/reports/tests/test/packages/ru.stqa.pft.sandbox.html
sandbox/build/test-results/test/binary/output.bin
sandbox/build/test-results/test/binary/output.bin.idx
sandbox/build/test-results/test/binary/results.bin
sandbox/build/test-results/test/TEST-ru.stqa.pft.sandbox.PointTests.xml
sandbox/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactModificationTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
sandbox/src/main/java/ru/stqa/pft/sandbox/Equality.java
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactModificationTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
*.log
addressbook-web-tests/src/test/resources/groups.json
addressbook-web-tests/src/test/resources/groups.xml
addressbook-web-tests/src/test/resources/contacts.json
